<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Sign up</title>
</head>
<body>
<form action="/admin/signup" method="post">
        <table>
            <br><br><br><br>
            <tr>
                <td>Admin Name:</td>
                <td><input name="name" size="15"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="passport" size="15"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input name="phone" size="15"></td>
            </tr>
 			
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
</body>
</html>