<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/customer/signin" method="post">
        <table>
            <br><br><br><br>
            
            <tr>
                <td>User Name:</td>
                <td><input name="name" size="15"></td>
            </tr>
            
            
            <br><br>
            <tr>
                <td>Password:</td>
                <td><input name="passport" size="15"></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
</body>
</html>