<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Sign up</title>
</head>
<body>
<form action="/customer/signup" method="post">
        <table>
            <br><br><br><br>
            <tr>
                <td>User Name:</td>
                <td><input name="name" size="15"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="passport" size="15"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input name="phone" size="15"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input name="email" size="15"></td>
            </tr>
            <tr>
                <td>Address zip:</td>
                <td><input name="address.zip" size="15"></td>
            </tr>
            <tr>
                <td>Address city:</td>
                <td><input name="address.city" size="15"></td>
            </tr>
            <tr>
                <td>Address state:</td>
                <td><input name="address.state" size="15"></td>
            </tr>
            <tr>
                <td>Address address line:</td>
                <td><input name="address.addressLine" size="15"></td>
            </tr>
 			
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
</body>
</html>