<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome!</title>
</head>
<body>
<form action="/login" method="post">
        <table>
            <br><br><br><br>
            <input type="radio" name="role" value="customer" checked>Customer
			<br>
			<input type="radio" name="role" value="admin">Admin
			<br>
			<input type="radio" name="role" value="storageAdmin" >StorageAdmin
			<br><br>
			
            <br><br>
            <input type="radio" name="operation" value="signup" checked>sign up
			<br>
			<input type="radio" name="operation" value="signin">sign in
			<br><br>
 			<!-- Password:<br>
			<input type="text" name="passWord" value="password">
			User Name:<br>
			<input type="text" name="userName" value="user name">
			<br> -->
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>
</html>